.r1 {
    height: 230px;
    max-height: 230px;
    min-height: 230px;
  }

.r2 {
    height: 800px;
    max-height: 800px;
    min-height: 800px;
}

.r3 {
    height: 75px;
    max-height: 75px;
    min-height: 75px;
}

.table {
    font-family: "avenir-next" sans-serif;
  }

#playerInfo img {
    height: 250px;
    float: left;
    padding-bottom: 50px;
}

#playerInfo div{
  padding-left:350px;
  padding-top:30px;
  font-size: 50px;
}

.topbanner img{
  display: block;
  align-items: center;
  height: 230px;
  margin: auto;
  padding-bottom: 20px;

}
