.a{
  margin-top: 50px;
  height: 75px;
  min-height: 75px;
  max-height: 75px;
}

.b{
  height: 550px;
  min-height: 550px;
  max-height: 550px;
}

.c{
  height: 150px;
  min-height: 150px;
  max-height: 150px;
}
.a,.b,.c{
  border: black solid 2px;
}

.gaga{
  size: 50%;
}

.horAndVertRelativeWithChild {
    position: relative;
}
.horAndVertAbsoluteChild {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.horAndVertFlexContainerElementsVertical {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.horAndVertFlexContainerElementsVertical div{
  width:60%;
}
/*------------*/
/*------------*/
.horAndVertFlexContainerElementsHorizontal {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textAlignCenter {
    text-align: center;
    padding-left: 10px;
}



.paddingMargin img {
    margin-top: 4%;
    margin-left: 19%;
}
.paddingMargin div {
    margin-left: 20%;
}
