body{
}

.r1{
  height: 100px;
  max-height: 100px;
  min-height: 100px;
  background-color: black;
  color: white;
}

.r2{
  height: 375px;
  max-height: 375px;
  min-height: 375px;
}

.r2 img{
  display: block;
  margin: 0 auto;
}

.r3{
  height: 315px;
  max-height: 315px;
  min-height: 315px;
  max-width: 90%;
}
