.header, .footer {
    height: 75px;
    min-height: 75px;
    max-height: 75px;
}
body{
  background-color: #a2f7ff;
}

img{
  width: 100%
}

p{
  font-size: 18px;
}

h3{
  font-size: 30px;
  color: red;
}

h2{
  font-size: 30px;
  color: red;
}

.bb{
  border-bottom: 5px solid yellow;
}

h1{
  font-size: 50px;
  color: blue;
  text-align: center;
}

.i1{
  height: 180px;
  min-height: 180px;
  max-height: 180px;
}

.container{
  border: 5px blue solid;
}
