.r1{
  height: 150px;
  min-height: 150px;
  max-height: 150px;
}
.r2{
  height: 50px;
  min-height: 50px;
  max-height: 50px;
}
.r3{
  height: 250px;
  min-height: 250px;
  max-height: 250px;
}
.r4{
  height: 150px;
  min-height: 150px;
  max-height: 150px;
}

.r1, .r2, .r3, .r4{
  text-align: center;
}

.logo {
    display: block;
    max-height: 100%;
    margin: 0 auto;
    padding-top: 1%;
}

#header {
    display: block;
    height: 150px;
    width: 100%;
    margin: 0 auto;
}

body{
  background-color: yellow;
  font-size: 24px;
}

.Text{
  padding-top: 20px;
  display: block;
  height: 200px;
  width: 100%;
  margin: 0 auto;
}

#footer{
  padding-top: 20px;
  display: block;
  height: 120px;
  width: 100%;
  margin: 0 auto;
}
